<div class="page-header">
  <h1><%= link_to(t('.title', :default => "Expert ranking for #{@position_type.gsub('-', ' ').capitalize}"), url_for()) %> <small>week <%= @week %></small></h1>
</div>

<%= weeks_in_season(@week) %>
<%= position_type_selector(@position_type) %>
<%= dropdown_menu_filters %>
<% if !GameWeek.current?(@week) %>
  <%= link_to 'Show ranking based on points', current_url(rank_by: :points) %>
<% end %>
<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Player</th>
      <th>Projected</th>
      <th>Brandon<br />Funston</th>
      <th>Andy<br/>Behrens</th>
      <th>Brad<br/>Evans</th>
      <th>Scott<br/>Pianowski</th>
      <th>Dalton<br/>Del Don</th>
    </tr>
  </thead>
  <tbody class="row-fluid">
    <% cache ['expert-ranks-table', collection_cache_key(@expert_ranks, :week) ] do %>
      <%= render partial: 'expert_rank', collection: @expert_ranks, cache: ->(e) { partial_cache_key("expert-rank", e) } %>
    <% end %>
  </tbody>
</table>
