<div class="pagination">
  <ul>
    <li class="disabled"><span>Week:</span></li>
    <% weeks.each do |week, label| -%>
      <li class="<%= label %>">
        <span><%= link_to_if(label.blank? || @week.nil?, week, current_url(week: week), style: "display: block", id: "week-nav-#{week}")  %></span>
      </li>
    <% end -%>
  </ul>
</div>

<% if @week -%>
  <%= javascript_tag do %>
  $("body").keydown(function(e) {
    if (e.keyCode == 37) { // left
     window.location.href = '<%= current_url(week: [1, @week - 1].max).html_safe %>';
    } else if (e.keyCode == 39) { // right
      window.location.href = '<%= current_url(week: [GameWeek.current, @week + 1].min).html_safe %>';
    }
  });
  <% end %>
<% end -%>