<table class="table table-condensed">
  <caption><h3 class="well text-center">Upcoming Opponent</h3></caption>
  <tbody class="row-fluid">
    <tr>
      <td class="span4">
        <h5 class="text-center">
          <%= comparison.opponent(1) || 'bye week' %>
        </h5>
      </td>
      <td class="span4"><h6 class="text-center">Opponent</h6></td>
      <td class="span4">
        <h5 class="text-center">
          <%= comparison.opponent(2) || 'bye week' %>
        </h5>
      </td>
    </tr>
    <%= stat('Passing yards allowed', ->(p) { number_with_delimiter(Player.find_by(team_abbr: p.opponent_on_week(@week)).cached_game_performances_by_opponents.map(&:py).sum) }) %>
    <!-- <tr>
      <td class="span5"><h5 class="text-center">10.3</h5></td>
      <td class="span2"><h5 class="text-center">Rushing TDs allowed (9th)</h5></td>
      <td class="span5"><h5 class="text-center">12.3</h5></td>
    </tr>
    <tr>
      <td class="span5"><h5 class="text-center">10.3</h5></td>
      <td class="span2"><h5 class="text-center">Rushing yards allowed (2nd)</h5></td>
      <td class="span5"><h5 class="text-center">12.3</h5></td>
    </tr> -->
  </tbody>
</table>

<table class="table table-condensed">
  <caption><h3 class="well text-center">Receptions</h3></caption>
  <tbody class="row-fluid">
    <%= stat('Yards', ->(p) { number_with_delimiter(p.receptions.sum(:yds)) }) %>
    <%= stat('Receptions', ->(p) { p.receptions.count }) %>
    <%= stat('% passes caught', ->(p) { number_to_percentage(p.percent_passes_caught, precision: 1) } ) %>
    <%= stat('% successful receptions', ->(p) { number_to_percentage(p.percent_successful_receptions, precision: 1) } ) %>
    <%= stat('Avg yards per reception', ->(p) { p.average_yards_per_reception.round(1) }) %>
    <%= stat('p25 yards per reception', ->(p) { p.receptions.pluck(:yds).percentile(25) }) %>
    <%= stat('p50 yards per reception', ->(p) { p.receptions.pluck(:yds).percentile(50) }) %>
    <%= stat('p75 yards per reception', ->(p) { p.receptions.pluck(:yds).percentile(75) }) %>
    <%= stat('Longest reception', ->(p) { p.longest_reception }) %>
    <%= stat('Receiving TDs', ->(p) { p.receiving_touchdowns.count }) %>
    <%= stat('% scoring receptions on team', ->(p) { number_to_percentage(p.percent_of_scoring_receptions_on_team, precision: 1) }) %>
  </tbody>
</table>

<table class="table table-condensed">
  <caption><h3 class="well text-center">Targets</h3></caption>
  <tbody class="row-fluid">
    <%= stat('Targets', ->(p) { p.targets.count }) %>
    <%= stat('Avg targets per game', ->(p) { p.average_targets_in_a_game.round(1) }) %>
    <%= stat('Most targets in a game', ->(p) { p.most_targets_in_a_game } ) %>
    <%= stat('Fewest targets in a game', ->(p) { p.fewest_targets_in_a_game }) %>
    <%= stat('% team targets', ->(p) { number_to_percentage(p.percent_of_targets_on_team, precision: 1) }) %>
  </tbody>
</table>

<table class="table table-condensed">
  <caption><h3 class="well text-center">Redzone targets</h3></caption>
  <tbody class="row-fluid">
    <%= stat('Targets within 10', ->(p) { p.redzone_targets_within_the_10.count }) %>
    <%= stat('Targets within 5', ->(p) { p.redzone_targets_within_the_10.count }) %>
    <%= stat('Redzone TDs', ->(p) { p.redzone_targets_within_the_10.scoring_plays.count }) %>
    <%= stat('% RZ receptions resulting in TD', ->(p) { number_to_percentage(p.redzone_targets_within_the_10.scoring_plays.count.percent_of(p.redzone_targets_within_the_10.count), precision: 1)} ) %>
    <%= stat('% team RZ targets', ->(p) { number_to_percentage(p.percent_of_redzone_targets_on_team, precision: 1) }) %>
    <%= stat('Redzone passes by team', ->(p) { p.targets_by_team.in_redzone(10).count } )%>
  </tbody>
</table>
