<div class="page-header">
  <h1><%= link_to(t('.title', :default => "Injuries"), url_for()) %> <small>week <%= @week %></small></h1>
</div>
<%= weeks_in_season(@week) %>
<%= link_to 'Sort by fantasy points', current_url(sort: 'p')%>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Player</th>
      <th>Injury</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'injury', collection: @injuries, cache: ->(i) { partial_cache_key("injury-#{i.id}") } %>
  </tbody>
</table>
