<div class="page-header">
  <h1><%= link_to(t('.title', :default => "Carries"), url_for()) %> <small>week <%= @week %></small></h1>
</div>

<%= weeks_in_season(@week) %>
<%= dropdown_menu_filters %>
<% if @offensive_performances.any? %>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Player</th>
        <th><%= link_to 'Carries', current_url(sort: 'c') %> (<%= link_to 'in red zone', current_url(sort: 'rz') %>)</th>
        <th><%= link_to 'Successful Runs', current_url(sort: 'sr') %></th>
        <th><%= link_to 'Rushing Yards', current_url(sort: 'ry') %></th>
        <th><%= link_to 'Rushing TDs', current_url(sort: 'rtd') %></th>
        <th><%= link_to 'Receiving TDs', current_url(sort: 'rctd') %></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'carry_performance', collection: @offensive_performances, cache: ->(t) { partial_cache_key("carry-performance", t) } %>
    </tbody>
  </table>
<% else %>
  <%= render partial: 'shared/no_data_yet', locals: {week: @week} %>
<% end %>