

<div class="page-header">
  <h1><%= link_to(t('.title', :default => "Defense"), url_for()) %> <small><%= @week ? "week #{@week}" : 'for season' %></small></h1>
</div>

<%= weeks_in_season(@week, @week.nil?) %>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><small>Defense</small></th>
      <th><small><%= link_to 'Fantasy Points', current_url(sort: 'fp') %></small></th>
      <th><small><%= link_to 'Points Scored', current_url(sort: 'p') %></small></th>
      <th><small><%= link_to 'Points against', current_url(sort: 'pa') %></small></th>
      <th><small><%= link_to 'Rushing Yards Allowed', current_url(sort: 'ry') %> </small></th> <!-- And rushing yards per play -->
      <th><small><%= link_to 'Passing Yards Allowed', current_url(sort: 'py') %></small></th> <!-- And passing yards per play -->
      <!-- <th>Turnovers (Interceptions/Fumbles)</th>
      <th>Pick six</th>
      <th>Safeties</th> -->
    </tr>
  </thead>
  <tbody>
    <% cache ['defense-table', collection_cache_key(@players, :week) ] do %>
      <%= render partial: 'defense', collection: @players, cache: ->(d) { partial_cache_key("defense", d, :week) } %>
    <% end %>
  </tbody>
</table>