<div class="page-header">
  <h1><%= link_to(t('.title', :default => "Points"), url_for()) %> <small>week <%= @week %></small></h1>
</div>
<!-- <div class="dropdown">
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li><a tabindex="-1" href="#">Action</a></li>
    <li><a tabindex="-1" href="#">Another action</a></li>
    <li><a tabindex="-1" href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a tabindex="-1" href="#">Separated link</a></li>
  </ul>
</div> -->

<%= weeks_in_season(@week) %>

<%= dropdown_menu_filters %>

<% if @player_point_totals.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Player</th>
        <th><%= link_to 'Points', current_url(sort: 'p') %></th>
        <th><%= link_to 'Weekly avg', current_url(sort: 'wa') %></th>
        <th><%= link_to 'Weekly avg w/out max', current_url(sort: 'waxmax') %> (<%= link_to 'std dev', current_url(sort: 'stdev') %>)</th>
        <th><%= link_to 'Max', current_url(sort: 'max') %></th>
        <th><%= link_to 'Min', current_url(sort: 'min') %></th>
      </tr>
    </thead>
    <tbody>
      <% cache ['points-table', collection_cache_key(@player_point_totals, :week) ] do %>
        <%= render partial: 'player_point_total', collection: @player_point_totals, cache: ->(p) { partial_cache_key("player-point-total", p) }%>
      <% end %>
    </tbody>
  </table>
<% else %>
  <%= render partial: 'shared/no_data_yet', locals: {week: @week} %>
<% end %>