<div class="page-header">
  <h1><%= link_to(t('.title', :default => "Targets"), url_for()) %> <small>week <%= @week %></small></h1>
</div>
<!-- <div class="dropdown">
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li><a tabindex="-1" href="#">Action</a></li>
    <li><a tabindex="-1" href="#">Another action</a></li>
    <li><a tabindex="-1" href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a tabindex="-1" href="#">Separated link</a></li>
  </ul>
</div> -->

<%= weeks_in_season(@week) %>
<%= dropdown_menu_filters %>
<% if @offensive_performances.any? %>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Player</th>
        <th><%= link_to 'Targets', current_url(sort: 'trg') %> (<%= link_to 'in red zone', current_url(sort: 'rz') %>)</th>
        <th><%= link_to 'Receptions', current_url(sort: 'rec') %></th>
        <th><%= link_to 'Receiving Yards', current_url(sort: 'recy') %></th>
        <th><%= link_to 'Receiving TDs', current_url(sort: 'tdre') %></th>
      </tr>
    </thead>
    <tbody>
      <% cache ['targets-table', collection_cache_key(@offensive_performances, :week) ] do %>
        <%= render partial: 'target_performance', collection: @offensive_performances, cache: ->(t) { partial_cache_key("target-performance", t) } %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <%= render partial: 'shared/no_data_yet', locals: {week: @week} %>
<% end %>