<%= form_for @projection, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :fantasy_football_nerd_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :fantasy_football_nerd_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :week, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :week, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :standard_high, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :standard_high, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :standard_low, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :standard_low, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :standard, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :standard, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ppr_high, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ppr_high, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ppr_low, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ppr_low, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ppr, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ppr, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :rank, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :rank, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                projections_path, :class => 'btn' %>
  </div>
<% end %>
