<%- model_class = Projection -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:fantasy_football_nerd_id) %>:</strong></dt>
  <dd><%= @projection.fantasy_football_nerd_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:week) %>:</strong></dt>
  <dd><%= @projection.week %></dd>
  <dt><strong><%= model_class.human_attribute_name(:standard_high) %>:</strong></dt>
  <dd><%= @projection.standard_high %></dd>
  <dt><strong><%= model_class.human_attribute_name(:standard_low) %>:</strong></dt>
  <dd><%= @projection.standard_low %></dd>
  <dt><strong><%= model_class.human_attribute_name(:standard) %>:</strong></dt>
  <dd><%= @projection.standard %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ppr_high) %>:</strong></dt>
  <dd><%= @projection.ppr_high %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ppr_low) %>:</strong></dt>
  <dd><%= @projection.ppr_low %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ppr) %>:</strong></dt>
  <dd><%= @projection.ppr %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rank) %>:</strong></dt>
  <dd><%= @projection.rank %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              projections_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_projection_path(@projection), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              projection_path(@projection),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
